apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  template:
    spec:
      containers:
        - name: backend
          image: harbor.code-place-dev.site/code-place-dev/backend:latest
