apiVersion: apps/v1
kind: Deployment
metadata:
  name: judge-server
  labels:
    app: judge-server
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    spec:
      containers:
        - name: judge-server
          image: harbor.code-place-dev.site/code-place-dev/judge-server:1.0.3
