{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 9"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "polyfill-corejs3",
      {
        "method": "entry-global"
      }
    ],
    "@babel/plugin-transform-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ]
}
