apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 6
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 2
      maxSurge: 2
  template:
    spec:
      containers:
        - name: backend
          image: harbor.code-place-dev.site/code-place-prod/backend:latest
