apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ./secrets/pg-credentials.yaml
  - ./secrets/regcred.yaml
  - ./secrets/common-credentials.yaml

namespace: code-place-prod

patches:
  - path: backend-deployment-patch.yaml
  - path: frontend-deployment-patch.yaml
  - path: frontend-ingress-patch.yaml
  - path: celery-worker-deployment-patch.yaml
  - path: celery-beat-deployment-patch.yaml
  - path: judge-server-deployment-patch.yaml

# NOTE: base 디렉토리의 이미지 이름과 태그를 오버라이드합니다.
# `backend`, `frontend` 이미지 태그는 CI 파이프라인에서 자동으로 변경됩니다.
# `judge-server` 이미지는 자주 변경되지 않으므로 수동으로 설정합니다.
images:
  - name: backend
    newName: harbor.code-place-dev.site/code-place-prod/backend
    newTag: 3a65dc653fc6fb3050a04e373bbf58e7d391c762-prod
  - name: frontend
    newName: harbor.code-place-dev.site/code-place-prod/frontend
    newTag: 3a65dc653fc6fb3050a04e373bbf58e7d391c762-prod
  - name: judge-server
    newName: harbor.code-place-dev.site/code-place-prod/judge-server
    newTag: 1.0.3
