# kubernetes/base/backend/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: backend
          image: registry.code-place-dev.site/code-place-prod/backend:latest
          imagePullPolicy: Always
          command: ["/app/deploy/entrypoint.sh"]
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "1.5Gi"
              cpu: "1000m"
            limits:
              memory: "2Gi"
              cpu: "2000m"
          env:
            - name: POSTGRES_HOST
              value: "postgres-rw"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: pg-credentials
                  key: database
            - name: REDIS_HOST
              value: "redis-standalone"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: pg-credentials
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-credentials
                  key: password
            - name: JUDGE_SERVER_TOKEN
              valueFrom:
                secretKeyRef:
                  name: common-credentials
                  key: JUDGE_SERVER_TOKEN
            - name: GITHUB_OAUTH_APP_ID
              valueFrom:
                secretKeyRef:
                  name: common-credentials
                  key: GITHUB_OAUTH_APP_ID
            - name: GITHUB_OAUTH_APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: common-credentials
                  key: GITHUB_OAUTH_APP_SECRET
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: common-credentials
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: common-credentials
                  key: AWS_SECRET_ACCESS_KEY
          volumeMounts:
            - name: shared-data
              mountPath: /data
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: shared-data-pvc
