[class^="el-icon-fa"],
[class*=" el-icon-fa"] {
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("../../../node_modules/font-awesome/less/font-awesome");
@fa-css-prefix: el-icon-fa;

button,
input,
select,
textarea,
.ivu-btn,
.ivu-input,
.ivu-select,
.ivu-table,
.el-button,
.el-input__inner,
.el-textarea__inner,
.el-table,
.el-form,
.el-dialog,
.el-message {
  font-family:
    "Noto Sans KR", "Apple SD Gothic Neo", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
